#cabecera{
    background-color: rgb(12, 169, 169);
    padding-bottom: 10px;
    padding-top: 10px;
}
#cabecera h1{
    color:black;
    font-size: 200%;
    text-align: center;
    padding: auto auto;
}
#cabecera a{
    text-decoration: none;
}
#contenedor{
    background-color: rgb(147, 147, 147);
    height: 1000px;
}
ul{
    text-align: center;
}
a{
    color: black;
}
li{
    display: inline;
    margin: auto 10px;
}

#texto1{
    text-align: justify;
    margin-right: 200px;
    margin-bottom: 100px;
    padding-left: 5px;
}
#texto1 p{
    margin-right: 200px;
}
#texto1 img{
    float: right;
}

#texto2{
    text-align: justify;
    margin-right: 200px;
    margin-bottom: 100px;
    padding-left: 5px;
}
#texto2 p{
    margin-right: 200px;
}
#texto2 img{
    float: right;
}
#texto3{
    text-align: justify;
    margin-right: 200px;
    margin-bottom: 100px;
    padding-left: 5px;
}
#texto3 p{
    margin-right: 200px;
}
#texto3 img{
    float: right;
}
hr {
    color: rgba(0, 0, 0, 0);
    background-color: black;
    height: 2px;
}
#Pie{
    background-color: rgb(12, 169, 169);
}
h1,h2{
    font-family: 'Roboto', sans-serif;
}
p,a{
    font-family: 'Open Sans', sans-serif;
}


